@import "vendor/reset";
@import "vars";

@font-face {
  font-family: "SFProDisplayRegular"; 
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "SFProDisplayBold"; 
  src: url("../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: 'SFProDisplayRegular', sans-serif;
  font-size: 14px;
  background-color: $bg;
  line-height: 1.5;
  overflow: auto;
}

html, body {
  height: 100vh;
}

a  {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Blocks */
@import "blocks/content";
@import "blocks/aside";
@import "blocks/inventory";
@import "blocks/modal";
@import "blocks/skeleton";
@import "blocks/btn";
@import "blocks/notification";